@import url("https://fonts.googleapis.com/css?family=Montserrat:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham:wght@700');
:root{
    --main-font-family: Montserrat;
    --main-font-color: #544837;
    --main-font-size: 16px;
}