@import url(./_vars.css);

html,
body {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    color: var(--main-font-color);
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0 0;
    max-width: 1200px;
    border-right: 1px solid red;
    border-left: 1px solid red;
}

.inner_container {
    margin: 0px 15px 0 15px;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
/* HEADER */
.header {
    margin: 15px 15px 70px 15px;
    display: flex;
}

.header__logo {
    min-width: 200px;
    min-height: 32px;
}

.nav_bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__menu {
    margin: 0 auto;
    padding: 0 auto;
    max-width: 50%;
    list-style: none;
}

.nav___item {
    display: inline-block;
    padding: 0 0;
    margin: 0 20px;
}

.nav___item:last-child {
    margin-right: 0px
}

.nav____link {
    text-decoration: none;
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
}

.nav____link:hover {
    cursor: pointer;
    color: #FF9900;
    transition: all 0.2s ease;
}

.nav__button:first-child {
    margin: 0 20px 0 0;
}

.nav__button,
.banner__button,
.features_button {
    margin: 0 0;
    padding: 0 0;
    min-width: 100px;
    min-height: 40px;
    background-color: #FF9900;
    color: #FFFFFF;
    border: transparent;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Poppins';
}

.nav__button:hover,
.banner__button:hover,
.features_button:hover {
    cursor: pointer;
    transition: all 0.2s ease;
    color:#2F281E;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
}
/* BANNER */
.banner {
    margin: 15px 0 100px 0;
    display: flex;
    align-items: center;
}

.banner__title {
    color:#2F281E;
    font-size: 44px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.banner_content {
    flex-basis: 50%;
    margin: 0 50px 0 0;
}

.banner__button {
    min-width: 180px;
}
/* FEATURES */
.features_title {
    margin: 0 auto 50px auto;
    text-align: center;
    max-width: 50%;
    font-size: 36px;
    font-weight: 700;
}

.card__wrapper {
    display: flex;
    margin:0 0 70px 0;
}

.card {
    margin: 0 15px;
    max-width: 25%;
}
/* FEATURES */
.features {
    padding: 0 0 100px 0;
    background-image:url('../img/main/first_page_bg.png');
    background-position: center;
    background-repeat: no-repeat;
}

.features_button {
    min-width: 180px;
    display: block;
    margin:0 auto;
}
/* BENEFITS */
.benefits_content_wrapper {
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: 1
}

.benefits_content__title {
    font-size: 36px;
    font-weight: 700;
}

.benefits_text {
    margin: 20px 0 0 0;
    flex-basis: 40%;
    align-items: center
}

.benefits_content__low__title {
    font-weight: 900;
    font-size: 16px;
}

.benefits_content__text:nth-of-type(2) {
    margin: 0 0 40px 0
}
/* PRODUCT_MANAGERS */
.product_managers_wrapper {
    display: flex;
    flex-wrap: 1;
    justify-content: space-between;
    align-items:center;
    margin:0 0 100px 0;
}

.product_managers_img {
    flex-basis: 50%;
}

.product_managers_content {
    margin: 50px 0;
    flex-basis: 40%;
}

.product_managers__title {
    margin:0 0 20px 0;
    padding: 0 0 0 0;
}
.product_managers___item {
    margin: 0 0 30px 0;
}

.product_managers__text:nth-last-of-type(1) {
    margin: 0 0 40px 0;
}

.product_managers__list {
    list-style-type: none;
    position: relative;
}

.product_managers___item {
    margin-left: 20px;
}

.product_managers___item:before {
    content: '';
    width: 35px;
    height: 35px;
    position: absolute;
    background: url('../img/main/product_managers_icon.png');
    left: -5px;
}
/* MARKETERS */
.marketers_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 0 100px 0;
}

.marketers_content {
    flex-basis: 40%;
}