@import url(./_vars.css);
@import url(./_fonts.css);

html,
body {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    color: var(--main-font-color);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* HEADER */
.header {
    margin: 20px 20px 70px 20px;
    display: flex;
}

.nav_bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    min-width: 200px;
    min-height: 32px;
}

.nav__menu {
    list-style: none;
}

.nav___item {
    display: inline-block;
}

.nav___item:last-child {
    margin-right: 0px
}

.footer_list___item>a,
.nav____link {
    color: var(--main-font-color);
    text-decoration: none;
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
}

.footer_list___item>a:hover,
.nav____link:hover {
    cursor: pointer;
    color: #FF9900;
    transition: all 0.2s ease;
}

.nav__button:first-child {
    margin: 0 20px 0 0;
}

.nav__button,
.design__button,
.features_button,
.footer_input__button {
    margin: 0 0;
    padding: 0 0;
    min-width: 100px;
    min-height: 40px;
    box-shadow: inset 0 0 0 0 #FFFFFF;
    background-color: #FF9900;
    color: #FFFFFF;
    border: transparent;
    border-radius: 4px;
    font-weight: 600;
    font-size: var(--main-font-size);
    font-family: 'Poppins';
}

.nav__button:hover,
.design__button:hover,
.features_button:hover,
.footer_input__button:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-out 0.7s;
    box-shadow: inset 150px 0 0 0 #FFFFFF;
    color:#2F281E;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
}
/* DESIGN */
.design {
    margin: 15px 20px 100px 20px;
    display: flex;
    align-items: center;
}

.design__title {
    color:#2F281E;
    font-size: 44px;
    font-weight: 700;
}

.design_content {
    margin: 0 50px 0 0;
}

.design__button,
.footer_input__button {
    min-width: 180px;
    min-height: 50px;
}
/* FEATURES */
.features {
    margin: 20px 0 0 0;
    padding: 0 0 100px 0;
    background-image:url('../img/main/first_page_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
}

.features_title {
    margin: 0 auto 50px auto;
    text-align: center;
    max-width: 50%;
    font-size: 36px;
    font-weight: 700;
}

.card__wrapper {
    display: flex;
    margin:0 0 70px 0;
}

.card {
    margin: 0 20px;
    max-width: 25%;
}

.features_button {
    min-width: 180px;
    display: block;
    margin:0 auto;
}
/* BENEFITS */
.benefits_content_wrapper {
    margin: 100px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: 1;
}

.benefits_content__title {
    font-size: 36px;
    font-weight: 700;
}

.benefits_text {
    margin: 20px 0 0 0;
    flex-basis: 40%;
    align-items: center;
}

.benefits_content__low__title {
    font-weight: 900;
    font-size: 16px;
}

.benefits_content__text:nth-of-type(2) {
    margin: 0 0 40px 0;
}
/* PRODUCT_MANAGERS */
.product_managers_wrapper {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin:0 20px 100px 20px;
}

.product_managers_img {
    flex-basis: 50%;
}

.product_managers_content {
    flex-basis: 40%;
}

.product_managers___item {
    margin: 0 0 30px 0;
}

.product_managers__text:nth-last-of-type(1) {
    margin: 0 0 40px 0;
}

.product_managers__list {
    list-style-type: none;
    position: relative;
}

.product_managers___item {
    margin-left: 20px;
}

.product_managers___item:before {
    content: '';
    width: 35px;
    height: 35px;
    position: absolute;
    background: url('../img/main/icons/product_managers_icon.png');
    left: -5px;
}
/* MARKETERS */
.marketers_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 100px 20px;
}

.marketers_content {
    flex-basis: 40%;
}
/* FOOTER */
.footer_wrapper {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
}

.footer_list {
    list-style: none;
}

.footer_list__title {
    padding: 0 0;
    margin: 5px 0 30px 0;
}

.footer_list___item {
    margin: 0 0 15px 0;
}

.footer_list___item:last-child {
    margin: 0 0;
}

.footer_input__text {
    max-width: 280px;
    margin: 0 60px 25px 0;
}

.footer_input__input {
    display: block;
    opacity: 0.3;
    min-width: 340px;
    min-height: 50px;
    margin: 25px 0;
    background-color:#BCD0E5;
    border-radius:4px;
}

.footer_input__input:hover {
    transition: all 0.3s ease-in;
    opacity: 0.8;
    cursor: pointer;
}

.footer_list__title,
.footer_input__text {
    font-weight: 700;
    font-size: 20px;
    font-family:'gotham';
    color:#2F281E;
}

.footer_wrapper {
    padding: 0 0 70px 0;
}
